<div class="food-listing">
    <mat-card *ngFor="let foodItem of foodList" class="food-card">
      <mat-card-content class="food-details">
        <img mat-card-image src="../../assets/images/sampleFoodImage.jpg" alt="{{ foodItem.title }}">
      </mat-card-content>
      <mat-card-content class="food-details">
        <h3>{{ foodItem.title }}</h3>
        <p class="description">{{ foodItem.description }}</p>
        <p class="price">{{ foodItem.price | currency:'INR':'symbol':'1.2-2' }}</p>
        <button mat-raised-button color="primary" (click)="addToCart(foodItem)">Add to Cart</button>
      </mat-card-content>
    </mat-card>
</div> 