.food-listing {
    display: inline-block;
    height: 350px;
  }
  
  .food-card {
    border: 1px solid #ddd;
    margin: 10px;
    width: 70%;
    display: inline-block;
  }

  img {
    width: 100%;
  }
  
  .img {
    margin: 20px;
    display: inline-block;
    width: 30%;
  }
  
  .food-details {
    margin: 20px;
    display: inline-block;
    width: 40%;
  }
  
  .description {
    color: #555;
  }
  
  .price {
    font-weight: bold;
    color: #007bff;
  }