<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin-left: 5%; color: white;" routerLink="">
          <img src="../../favicon.ico" alt="Stou" width="35">
            <span style="margin: 10%; font-family:Verdana, Geneva, Tahoma, sans-serif;">Stou</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="padding-left: 75%;" id="navbarSupportedContent" *ngIf="!this.loggedIn">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/register" style="color: white;">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/login" style="color: white;">Login</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" style="padding-left: 60%;" id="navbarSupportedContent" *ngIf="this.loggedIn">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard" style="color: white;">Foods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/profile" style="color: white;">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="color: white;">
                <div (click)="toggleCart()" class="nav">
                  <mat-icon aria-hidden="false" matBadge={{cartSize}} matBadgeColor="accent">shopping_cart</mat-icon>
                </div>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: white;" (click)="logout()">Logout</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>