<div class="checkout">
    <div class="checkout-details">
      <h2 style="margin: 5%;">Checkout</h2>
        <mat-card class="checkout-component">
            <mat-card-header><h3>Shipping Details</h3></mat-card-header>
            <mat-card-content>
                <form>
                  <mat-form-field>
                    <input matInput placeholder="Address">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="City">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="State">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Zip Code">
                  </mat-form-field>
                </form>
              </mat-card-content>
        </mat-card>
    </div>
    <div class="billing-details">
        <mat-card class="billing-component">
            <mat-card-header><h3>Billing Details</h3></mat-card-header>
            <mat-card-content>
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>