.checkout {
    display: inline-block;
    width: 100%;
}

.checkout-details {
    display: inline-block;
    margin: 0 15% 0 15%;
    width: 40%;
    border: 1px;
}

.checkout-component {
    margin: 2%;
}

mat-form-field {
    width: 100%;
}

.billing-details {
    display: inline-block;
    margin: 0 5% 0 5%;
    width: 20%;
}

.billing-component {
    /* display: inline-block;
    margin: 0 10% 0 10%;
    width: 20%; */
    margin: 0 2% 0 2%;
    height: 500px;
}