<div class="cart">
  <h2>Your Cart</h2>
  <ul class="cart-items" *ngIf="items.length > 0">
      <li class="item" *ngFor="let item of items">
          <img  src="../../assets/images/sampleFoodImage.jpg" alt="Product image">
          <div class="item-info">
              <h3>{{item.title}}</h3>
              <p>{{item.price}}</p>
              <button (click)="deleteItem(item)" class="remove-btn">Remove</button>
          </div>
          <div class="item-info">
            <p>Quantity: {{item.quantity}}</p>
        </div>
      </li>
  </ul>
  <p *ngIf="items.length === 0">Your cart is empty.</p>
  <div class="cart-total">
      <p>Total: ${{this.total}}</p>
      <button (click)="checkout()" class="checkout-btn">Checkout</button>
  </div>
</div>
