<div class="cart">
  <h2>Your Cart</h2>
  <ul class="cart-items" *ngIf="items.length > 0">
      <li class="item" *ngFor="let item of items">
          <img src={{item.picture}} alt="Product 1">
          <div class="item-info">
              <h3>{{item.title}}</h3>
              <p>{{item.price}}</p>
              <button (click)="clearCart()" class="remove-btn">Remove</button>
          </div>
      </li>
  </ul>
  <p *ngIf="items.length === 0">Your cart is empty.</p>
  <div class="cart-total">
      <p>Total: ${{this.total}}</p>
      <button class="checkout-btn">Checkout</button>
  </div>
</div>
<!-- <div *ngIf="items.length > 0">
    <h2>Your Cart</h2>
    <ul>
      <li *ngFor="let item of items">
        {{ item.name }} - ${{ item.price }}
      </li>
    </ul>
    <button (click)="clearCart()">Clear Cart</button>
  </div>
  <div *ngIf="items.length === 0">
    <p>Your cart is empty.</p>
  </div> -->