<mat-card>
    <h2>Registeration</h2>
  <mat-card-content>
    <form class="example-form" [formGroup]="register" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>About Me</mat-label>
        <input matInput formControlName="aboutMe" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field> -->
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <div class="formButtons">
        <button type="submit" mat-raised-button color="primary">Submit</button>
        &nbsp;
        <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
